@font-face {
  font-family: 'Segoe';
  src: url($path-font +'avenirnext-regular.woff2') format('woff2'), url($path-font +'avenirnext-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}