.btn {
  transition: all $animation-duration;

  &.orange {
    background: $color-orange;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    color: $color-white;
    font-size: 15px;
    font-weight: 700;
    line-height: 42px;
    border: none;

    &:hover, &:active, &:focus {
      color: darken($color-orange, 10%);
    }
  }
}