// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "base/variables";
@import "base/icons";
@import "base/fonts";
@import "base/functions";
@import "base/mixins";
@import "base/helpers";
@import "base/prints";

@import "elements/forms";
@import "elements/tables";
@import "elements/buttons";
@import "elements/types";

@import "partials/header";
@import "partials/navbar";
@import "partials/sidebar";
@import "partials/footer";

html {
  min-height: 100%;
}

body {
  background: url($path-image + '/bgr.png') repeat 0 0 transparent;
}